<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <%= locals.message %>
    <a href="/signuppage">Sign Up</a>
    <form action="/login" method="post">
        Email:<input type="text" name="email" required>
        Password:<input type="text" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>